@import "../../../global.scss";

.card {
  width: 22rem;
  height: 30rem;
  max-width: 90%;
  padding: 3rem 2rem;
  border-radius: 2rem;
  background: $white-200;
  box-shadow: 2px 2px 12px 4px rgba(144, 20, 72, 0.125);
  @include box-center($direction: column);
  transition: all ease-in-out 0.3s;
  &:hover {
    transform: scale(1.05) translateY(-1rem);
  }
  h4 {
    color: $pink-200;
    font-size: 1.2rem;
    text-align: center;
  }
  .imgWrapper {
    width: 15rem;
    max-width: 100%;
    max-height: -webkit-fill-available;
    margin-top: 4rem;
    img {
      object-fit: contain !important;
    }
  }
}

@media screen and (max-width: 750px) {
  .card {
    .imgWrapper {
      max-height: 12rem !important;
    }
  }
}
