@import "../../../global.scss";

.pricesSection {
  background: $pink-000;
  padding: 2rem 7rem;
  .cards {
    gap: 4rem;
    margin: 4rem 0;
    @include box-center($justify: center);
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  .pricesSection {
    .cards {
      flex-direction: column;
      gap: 4rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .pricesSection {
    padding: 2rem;
  }
}
