@import "../../../global.scss";

.hero {
  @include box-center;
  min-height: calc(100vh - 4.5rem);
  padding: 0 7rem;
  background: #fffac6;
  gap: 2rem;
  .text {
    width: 60%;
    color: $pink-200;
    h2 {
      font-size: 2.2rem;
      letter-spacing: 1px;
      font-weight: 300;
    }
    h1 {
      font-size: 3.2rem;
      font-weight: 700;
      margin: 0.5rem 0 2.5rem 0;
      letter-spacing: 1px;
    }
    p {
      padding-right: 2rem;
      font-weight: 300;
      font-size: 1.3rem;
    }
    button {
      padding: initial;
      a {
        display: table-cell;
        vertical-align: middle;
        height: 3rem;
        padding: 0.4rem 4rem;
        color: $white-000 !important;
      }
    }
  }
  .imgWrapper {
    width: 50% !important;
    height: 30rem !important;
    > div {
      background-color: transparent !important;
    }
  }
}

@media screen and (max-width: 1050px) {
  .hero {
    flex-direction: column-reverse;
    padding: 0 7rem 3rem 7rem;
    .imgWrapper {
      height: 25rem !important;
      width: 100%;
      img {
        object-position: center !important;
      }
    }
    .text {
      width: 100%;
      @include box-center($direction: column);
      * {
        text-align: center;
      }
      h2,
      button {
        margin: 2rem 0;
      }
      p {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .hero {
    padding: 1rem 2rem;
    .imgWrapper {
      height: 14rem !important;
    }
    .text {
      h2 {
        margin: 1rem 0;
        font-size: 1.8rem;
      }
      h1 {
        font-size: 2.5rem;
        margin: 0.2rem 0 1.5rem 0;
      }
      p {
        font-size: 1.1rem;
      }
      button {
        margin: 2rem 0;
        font-size: 1.1rem;
        padding: 0.8rem 1.4rem;
      }
    }
  }
}
