@import "../../global.scss";

.applicationForm {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border: 0;
    background: none;
    -webkit-text-fill-color: #000;
    box-shadow: 0 0 0px 1000px $white-000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  width: 90%;
  min-width: 21rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 12px 4px rgba(144, 20, 72, 0.125);
  margin: 7rem auto;
  padding: 2rem 3rem;
  .selectInput {
    position: relative;
    box-shadow: 0px 2px 10px 4px rgba(144, 20, 72, 0.125);
    @include box-center($justify: space-between);
    width: 100%;
    padding: 0.4rem 2rem;
    height: 4rem;
    background: #fffefb;
    border-radius: 2rem;
    margin: 2rem 0;
    &:hover,
    &:active {
      transform: initial !important;
    }
    p {
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    svg {
      color: $pink-200;
    }
    .choices {
      width: 100%;
      position: absolute;
      box-shadow: 0px 6px 10px rgba(144, 20, 72, 0.125);
      @include box-center($align: flex-start, $direction: column);
      display: none;
      background: $white-300;
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
      top: 4rem;
      left: 0;
      li {
        width: 100%;
        transition: all 0.2s ease-out;
        &:hover {
          background: rgba(106, 106, 106, 0.126);
        }
      }
      button {
        padding: 0.6rem 1.5rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-align: left;
        width: 100%;
        &:hover,
        &:active {
          transform: initial;
        }
      }
    }
    &.activeTrue {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      .choices {
        display: flex;
        z-index: 15;
      }
    }
  }
  .radioGroup {
    @include box-center($justify: flex-start);
    gap: 2rem;
    margin: 2rem 0;
    .radioHeading {
      font-size: 1.3rem;
      color: $pink-200;
    }
    .radioBtn {
      @include box-center($justify: flex-start);
      gap: 0.6rem;
      p {
        font-size: 1.3rem;
      }
      .circle {
        text-indent: -9000px;
        text-transform: capitalize;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border-radius: 50%;
        background: transparent;
        outline: 2px solid $pink-200;
        border: 2px solid $pink-000;
        cursor: pointer;
        transition: all ease-in-out 0.1s;
        &.activeTrue {
          background: $pink-200;
        }
      }
    }
  }
  .numPeople {
    margin: 1rem 0 2rem 0;
    h4 {
      color: $pink-200;
      font-weight: 600;
      font-size: 1.3rem;
      margin: 0.5rem 0 1.5rem 0;
    }
    .inputField {
      @include box-center($justify: flex-start);
      gap: 1rem;
      input {
        width: 5rem;
        border-radius: 2rem;
        outline: none;
        border: none;
        box-shadow: 0px 2px 10px 4px rgba(144, 20, 72, 0.125);
        padding: 0.8rem 2rem;
      }
      .btnGroup {
        @include box-center;
        gap: 1rem;
        .btnNum {
          width: 5rem;
          font-size: 2rem;
          font-weight: 500;
          color: $white-000;
          border-radius: 2rem;
          background: $gradient-button-pink;
          padding: 0 0 0.3rem 0;
        }
      }
    }
  }
  .members {
    .member {
      @include box-center($direction: column, $align: flex-start);
      margin: 1.5rem 0;
      .errorMsg {
        color: rgb(220, 73, 39);
        text-transform: uppercase;
        font-size: 1.1rem;
        padding-left: 2rem;
      }
      h3 {
        font-size: 1.4rem;
        padding-left: 1rem;
        color: $pink-200;
        &.error {
          color: rgb(220, 73, 39);
        }
      }
      div {
        @include box-center($direction: column);
        margin: 0.5rem 0;
      }
      input {
        width: 40%;
        min-width: 18rem;
        border-radius: 2rem;
        outline: none;
        border: none;
        box-shadow: 0px 2px 5px 2px rgba(144, 20, 72, 0.1);
        padding: 0.8rem 2rem;
        margin: 0.5rem 0;
      }
    }
  }
  .inputPromo {
    h4 {
      font-size: 1.4rem;
      color: $pink-200;
      padding-left: 1rem;
      margin-bottom: 0.5rem;
    }
    input {
      width: 40%;
      min-width: 18rem;
      border-radius: 2rem;
      outline: none;
      border: none;
      box-shadow: 0px 2px 5px 2px rgba(144, 20, 72, 0.1);
      padding: 0.8rem 2rem;
      margin: 0.5rem 0;
    }
  }
  .submit {
    @include box-center($direction: column);
    gap: 1rem;
    margin: 2rem 0;
    button {
      font-size: 1.6rem;
      font-weight: 500;
      color: $white-000;
      border-radius: 2rem;
      background: $gradient-button-pink;
      padding: 0.6rem 6rem;
      margin: 1rem 0;
    }
    p {
      color: $pink-200;
      font-style: italic;
      font-size: 1.2rem;
    }
    h3 {
      font-weight: 300;
      font-size: 1.3rem;
      color: $purple-100;
      span {
        font-weight: 700;
        font-size: 1.2em;
        padding-left: 0.5rem;
        display: inline-block;
      }
    }
  }
  .successMsg {
    @include box-center($direction: column);
    gap: 1rem;
    h1 {
      color: $pink-200;
      font-size: 1.5rem;
      text-align: center;
    }
    p {
      text-align: center;
      color: $pink-200;
      font-style: italic;
      font-size: 1.1rem;
    }
    button {
      padding: initial;
      width: max-content;
      background: $gradient-button-pink;
      border-radius: 2rem;
      a {
        display: table-cell;
        vertical-align: middle;
        height: 3rem;
        padding: 0.4rem 4rem;
        color: $white-000 !important;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .applicationForm {
    .radioGroup {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 750px) {
  .applicationForm {
    padding: 2rem 1rem;
    .submit {
      p,
      h3 {
        text-align: center;
      }
    }
  }
}
