@import "../../../global.scss";

.students {
  padding: 3rem 7rem;
  background: #fffac6;
  .cards {
    margin-top: 4rem;
    gap: 4rem;
    @include box-center($align: flex-start);
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .students {
    padding: 3rem 2rem;
  }
}
